body {
  margin: 0;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%
}

#loadView { display: none; }
.btn { margin: 5px; }

.main-ui {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: 10px;
  pointer-events: none;
  > * {
    display: table;
    pointer-events: auto;
  }

  table.table {
    width: inherit;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    margin-bottom: 0;

    td, th { padding: 3px 0.75rem; }
    tr td:last-child { width: 200px; }
    tr:first-child td { border-top: 0; }
    tr:first-child td:first-child { border-top-left-radius: 5px; }
    tr:first-child td:last-child { border-top-right-radius: 5px; }
    tr td.subcontent { padding: 0; }
  }

  .info-tooltip {

    &.hide { display: none; }
    display: inline-block;
    position: relative;

    .pin-wrapper {
      position: absolute;
      padding: 5px;
      right: 0;

      #pin.unpinned > i {
        transform: rotate(45deg);
      }
    }
  }

  .view-buttons {
    margin-bottom: 5px;
    #animate {
      > i.fa-play { display: inline; }
      > i.fa-pause { display: none; }
      &.playing {
        > i.fa-play { display: none; }
        > i.fa-pause { display: inline; }
      }
    }
  }

  .info-panel {
    margin-bottom: 10px;
  }

  .image-panel {

    img#camera-image {
      width: 400px;
      height: auto;
      border-radius: 5px;
      > .not-loaded { display: none; }
    }

    &.right {
      text-align: right;
      position: absolute;
      top: 5px; right: 5px;
      .image-panel-buttons #toggleViewPosition {
        > i.fa-arrow-right { display: none; }
        > i.fa-arrow-left { display: inline; }
      }
    }

    &.small {
      img#camera-image { width: 200px; }
      .image-panel-buttons #toggleZoomView {
        > i.fa-search-minus { display: none; }
        > i.fa-search-plus { display: inline; }
      }
    }

    &.hide {
      img#camera-image { display: none; }
      .image-panel-buttons div:not(#toggleImageView) { display: none; }
      .image-panel-buttons #toggleImageView {
        > i.fa-eye-slash { display: none; }
        > i.fa-eye { display: inline; }
      }
    }

    .image-panel-buttons {

      margin-bottom: 5px;

      #toggleZoomView {
        > i.fa-search-minus { display: inline; }
        > i.fa-search-plus { display: none; }
      }

      #toggleImageView {
        > i.fa-eye-slash { display: inline; }
        > i.fa-eye { display: none; }
      }

      #toggleViewPosition {
        > i.fa-arrow-right { display: inline; }
        > i.fa-arrow-left { display: none; }
      }

    }
  }

}
